<template>
  <nuxt-link :to="id">
    <article>
      <v-card id="red">
        <v-layout align-center justify-space-around row>
          <span id="polje">{{name}} {{surname}}</span>
          <span id="polje">{{gender}}</span>
          <span id="polje">{{dob}}</span>
          <span id="polje">{{socialStatus}}</span>
        </v-layout>
      </v-card>
    </article>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    surname: {
      type: String,
      required: true
    },
    gender: {
      type: String,
      required: true
    },
    dob: {
      type: String,
      required: true
    },
    socialStatus: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
}
#red {
  background-color: rgb(87, 86, 85);
}
#red:hover {
  background-color: rgb(131, 130, 128);
}

#polje {
  text-align: center;
  width: 25%;
}
</style>
