<template>
  <v-layout column justify-center align-center>
    <v-flex id="baza">
      <v-layout align-space-around justify-center column id="zaglavljelejer">
        <v-card id="zaglavlje">
          <v-layout align-center justify-space-around row>
            <span id="polje">Name</span>
            <span id="polje">Gender</span>
            <span id="polje">DoB</span>
            <span id="polje">Social status</span>
          </v-layout>
        </v-card>
        <client-preview
          v-for="client in clients"
          :key="client.id"
          :name="client.name"
          :surname="client.surname"
          :gender="client.gender"
          :dob="client.dob"
          :socialStatus="client.socialStatus"
          :id="client.id"
        />
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import clientPreview from "@/components/clientPreview";

export default {
  components: {
    clientPreview
  },
  asyncData(context) {
    return context.app.$storyapi
      .get("cdn/stories/", {
        version: "draft",
        starts_with: "server/"
      })
      .then(res => {
        console.log(res);

        return {
          clients: res.data.stories.map(bp => {
            return {
              id: bp.slug,
              name: bp.content.first_name,
              surname: bp.content.last_name,
              gender: bp.content.gender,
              dob: bp.content.dob,
              socialStatus: bp.content.social_status
            };
          })
        };
      });
  }
};
</script>

<style>
#baza {
  width: 100%;
}

#zaglavlje {
  width: 100%;
  font-size: 17px;
}

#polje {
  text-align: center;
  width: 25%;
}
</style>



