<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{name}} {{surname}}</h3>
            <p>Date od birth: {{dob}}</p>
            <p>Perssonal information</p>
            <div>
              <p>First name: {{name}}</p>
              <p>Last name: {{surname}}</p>
              <p>Gender: {{gender}}</p>
              <p>Date od birth: {{dob}}</p>
            </div>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat color="orange">Edit</v-btn>
          <v-btn flat color="orange" @click="root">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  asyncData(context) {
    return context.app.$storyapi
      .get("cdn/stories/server/" + context.params.clientId, {
        version: "draft"
      })
      .then(res => {
        return {
          name: res.data.story.content.first_name,
          surname: res.data.story.content.last_name,
          gender: res.data.story.content.gender,
          dob: res.data.story.content.dob,
          socialStatus: res.data.story.content.social_s
        };
      });
  },
  methods: {
    root() {
      this.$router.push("/");
    }
  }
};
</script>

